<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>게시글 상세 보기</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="js/jquery-3.7.1.min.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
	<script th:inline="javascript">
		$(function () {
			let m = [[${msg}]];
			if (m != null) {
				alert(m);
			}
		})
	</script>
</head>
<body class="bg-gray-100">
<header>
	<th:block th:insert="~{fragments::header(${session.member})}"/>
</header>
<section class="min-h-screen flex flex-col items-center justify-center">
	<div class="bg-white shadow-lg rounded-lg p-8 max-w-2xl w-full">
		<div class="flex items-center space-x-4 mb-6">
			<img src="https://unsplash.com/photos/5NLCaz2wJXE/download?force=true&w=640" alt="Customer Service"
				 class="w-16 h-16 rounded-full">
			<h1 class="text-2xl font-semibold">고객센터</h1>
		</div>

		<h2 class="text-2xl font-semibold mb-4">상세보기</h2>

		<!--글 정보 표시-->
		<div class="grid grid-cols-2 gap-4 mb-4">
			<div class="p-4 font-bold">번호</div>
			<div class="p-4" th:text="${qDto.qnum}"></div>
		</div>

		<!--작성자 아이디, 날짜-->
		<div class="grid grid-cols-2 gap-4 mb-4">
			<div class="p-4 font-bold">작성자</div>
			<div class="p-4" th:text="${qDto.qmid}"></div>
			<div class="p-4 font-bold">날짜</div>
			<div class="p-4" th:text="${qDto.qdate}"></div>
		</div>

		<!--제목-->
		<div class="grid grid-cols-2 gap-4 mb-4">
			<div class="p-4 font-bold">제목</div>
			<div class="p-4" th:text="${qDto.qtitle}"></div>
		</div>

		<div class="grid grid-cols-2 gap-4 mb-4">
			<div class="p-4 font-bold content_h">민원 사유</div>
			<div class="p-4 content_h" th:text="${qDto.qcategory}"></div>
		</div>

		<!--내용-->
		<div class="grid grid-cols-2 gap-4 mb-4">
			<div class="p-4 font-bold content_h">내용</div>
			<div class="p-4 content_h" th:text="${qDto.qcontents}"></div>
		</div>

		<!--글 수정, 삭제, 뒤로가기 버튼-->
		<div class="flex items-center justify-between mb-4">
			<button type="button" class="btn-write" id="upbtn">
				수정
			</button>
			<button type="button" class="btn-write" id="delbtn">
				삭제
			</button>
			<button type="button" class="btn-sub" id="backbtn">
				뒤로가기
			</button>
		</div>

		<!--댓글(답변) 전송-->
		<form id="qrForm">
			<input type="hidden" name="qrbnum" th:value="${qDto.qnum}">
			<input type="hidden" name="qrmid" th:value="${session.member.mid}">
			<textarea name="qrcontents" rows="5" class="write-input ta h-20" id="comment" placeholder="답변을 적어주세요"></textarea>
			<input type="button" value="답변 전송" class="btn-write" id="qrbtn" style="width: 100%; margin-bottom: 30px">
		</form>

		<div id="qrSpace">
			<h2 class="text-xl font-semibold mb-2">답변</h2>
			<th:block th:unless="${#lists.isEmpty(qrDto)}">
				<th:block th:each="qritem:${qrDto}">
					<div class="p-4 re" th:text="${qritem.qrmid}"></div>
					<div class="p-4 re" th:text="${qritem.qrcontents}"></div>
					<div class="p-4 re" th:text="${#dates.format(qritem.qrdate, 'yyyy-MM-dd HH:mm:ss')}"></div>
				</th:block>
			</th:block>
		</div>
	</div>
</section>
<footer class="bg-gray-100 p-4 text-center text-sm text-gray-500">
	<th:block th:insert="~{fragments::footer}"/>
</footer>
</body>
<script th:inline="javascript">
	//수정/삭제 버튼 숨기기
	$("#upbtn").hide();
	$("#delbtn").hide();
	let mid = [[${session.member.mid}]];//로그인한 ID
	let qmid = [[${qDto.qmid}]];//글 작성자 ID
	if (mid == qmid) {
		$("#upbtn").show();
		$("#delbtn").show();
	}

	$("#backbtn").click(function () {
		let url = "/qnaList?";

		const searchDto = [[${session.search}]]
		let colname = "";
		let keyword = "";
		if (searchDto != null) {
			colname = searchDto.colname;
			keyword = searchDto.keyword;
		}

		let page = [[${session.pageNum}]];

		if (colname == null || colname == "") {//검색 안한 목록 이동
			url += `pageNum=${page}`;
		} else {
			url += `colname=${colname}&keyword=${keyword}&pageNum=${page}`;
		}
		console.log(url);
		location.href = url;
	});

	//삭제 처리
	$("#delbtn").click(function () {
		let con = confirm("게시글을 삭제합니다.");
		if (con == true) {
			let qnum = [[${qDto.qnum}]];
			location.href = `/qnaBoardDelete?qnum=${qnum}`;
		}

	});

	$("#upbtn").click(function () {
		let qnum = [[${qDto.qnum}]];
		location.href = `/qnaUpdate?qnum=${qnum}`;
	});

	//댓글 전송 및 처리
	$("#qrbtn").click(function () {
		const qrForm = $("#qrForm").serialize();

		//RestController에 전송
		$.ajax({
			url: "QnAReplyInsert",
			type: "post",
			data: qrForm,
			success: function (res) {
				console.log(res);
				if (res == "ok") {
					let str = "";
					str += `
					<div class="t_content p-20 re">${res.qrmid}</div>
                    <div class="d_content p-50 re">${res.qrcontents}></div>
                    <div class="d_content p-30 re">${res.qrdate}</div>`;
					$("#qrSpace").prepend(str);
					$("#comment").val("");
					alert("답변 저장 성공");
				} else {
					//alert("답변 저장 실패");
					$("#comment").val("");
					$("#comment").focus();
				}
			},
			error: function (err) {
				console.log(err);
				alert("답변 저장 실패");
			}
		});
	});

	// 관리자 계정 으로 답변 하기
	$("#qrForm").hide();
	let m = [[${session.member}]];
	if (m != null) {
		let mgrade = m.mgrade; // 등급이 관리자인 사람만 보인다
		if (mgrade == '관리자') {
			$("#qrForm").show();
		}
	}
</script>
</html>